#filesDatosBasicos{
    display: block;
}


#fotoPrincipalDatosBasicos {
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 767px) {/*Celulares hasta el Note3 tanto en landscape como en portrait*/
    #fotoPrincipalDatosBasicos {
    width: 70px;
    height: 70px;
    }
}
#inputImagen {
    display: none;
}
.error{
    border-color:#F00;
}

input[type="text"][name="iniciales"] {
    text-transform: capitalize;
}
#alertaMedica{
    color:#F00;
}